
*{
  background-color:skyblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  
}
textarea{
  font-size: medium;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 12px;
  border: 2px double  black;
  height: 350px;
}
pre{
  height:350px;
  width: 250px;
}
